<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.ogm.datastore.provider">mongodb</property>
		<property name="hibernate.ogm.datastore.database">virgendb</property>
		<property name="hibernate.ogm.datastore.host">localhost:27017</property>
		<property name="hibernate.ogm.datastore.create_database">true</property>
		<property name="hibernate.ogm.datastore.username">mongoadmin</property>
		<property name="hibernate.ogm.datastore.password">password</property>
		<property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.JBossStandAloneJtaPlatform</property>
		
		<mapping class="io.virandry.model.Movie"></mapping>
		<mapping class="io.virandry.model.AudienceScore"></mapping>
		<mapping class="io.virandry.model.TomatoMeter"></mapping>
	</session-factory>
</hibernate-configuration>